# ignore any AWS settings
tests/config.json
tests/cassettes/*

# ignore foreman environment files
.env

# ignore compressed files
# unzip them and commit those instead
*.zip
*.gz
*.tar

# python
*.py[co]
*.rope

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# OS-X thumbnails
.DS_Store

# vi swap files
*.swp
